/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --rec-decor-color: #ff0070;
    --theme-menu-button-color: #ff0070;
    --theme-menu-button-color-hover: #FF007066;
    --accent-text-color: #000028;
    --title-color: #db00ff;
    --content-title-color: #ff0070;
    --shadow-color: #ff0070;
    --link-shadow-color: #ff0070;
    --bg-color: #000028;
    --color: #f1b2ce;
    --font-family: 'IBM Plex mono', monospace;
    --rec-decor: visible;
  }
}

.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --rec-decor-color: #ff0070;
  --theme-menu-button-color: #ff0070;
  --theme-menu-button-color-hover: #FF007066;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --content-title-color: #ff0070;
  --shadow-color: #ff0070;
  --link-shadow-color: #ff0070;
  --bg-color: #000028;
  --color: #f1b2ce;
  --font-family: 'IBM Plex mono', monospace;
  --rec-decor: visible;
}
